extends layout

block content

  .container
    .flex
      h1 Who will win?
      a.btn.btn--batman Batman
      a.btn.btn--superman Superman
      
script(src='../public/javascripts/primus.js')
script(src='../public/javascripts/vote.js')