extends layout

block content

.hero 
  .container
      h1 Who will win?
      a.btn.btn--batman Batman
      a.btn.btn--superman Superman
  
  .votes.hidden
    .batman
      img(src="../public/images/batman.png", alt="batman")
    .superman
      img(src="../public/images/superman.png", alt="superman")

script(src='../public/javascripts/primus.js')
script(src='../public/javascripts/vote.js')