<!DOCTYPE html>
<html>

<head>
  <title>Vote</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="hero">
  <div class="container">
    <h1>Who will win?</h1>
    <a href='/live' class="btn btn--batman">Batman</a>
    <a href='/live' class="btn btn--superman">Superman</a>
    
  </div>
</div>

<script src="javascripts/primus.js"></script>
<script src="javascripts/vote.js"></script>
</body>
</html>