extends layout

block content

.hero 

  .container

      h1 Who will win?
      a.btn.btn--batman Batman
      a.btn.btn--superman Superman
  
  .votes.hidden
    img(src="", alt="batman")
    img(src="", alt="superman")

script(src='../public/javascripts/primus.js')
script(src='../public/javascripts/vote.js')