<!DOCTYPE html>
<html>

<head>
  <title>The votes</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="hero">
  <div class="container">
    <h1>Who will win?</h1>
    <h2>Others thought</h2>
    <div class="votes hidden">
      <div class="batman">
          <div class="batmanVotes" id="batmanVotes"></div>
          <img src="images/batman.png" alt="batman">
      </div>
      <div class="superman">
          <div class="supermanVotes" id="supermanVotes"></div>
        <img src="images/superman.png" alt="superman">
      </div>
    </div>
  </div>
</div>

<script src="javascripts/primus.js"></script>
<script src="javascripts/vote.js"></script>
</body>
</html>