body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.hero{
  height: 100vh;
  width: 100vw;
}

.container{


  margin: auto;
  width: 60%;
  justify-content: center;
  padding: 1em;
 
}

.buttons{
  display: flex;
  justify-content: space-between;
}
h1{
  text-align:center;
  font-size: 3em;
}

.btn{
  text-transform:uppercase;
  border-radius:0.2em;
  text-decoration:none;
  background-color:white;
  /* gaat zich gedragen als een block element*/
  display: inline-block;
  padding:0.7em 0.7em;
  font-weight:bold;
  color:grey;
  font-size:1.6em;
}


.btn:active{
  position: relative;
  top :1px;
  
}

.btn:hover{
  opacity:0.7;
  
}
.btn--batman{
  background-color:black;
  color:white;
  margin-left: 5em;
}

.btn--superman{
  background-color:#C80000;
  color:white;
  margin-right: 5em;
}


.hidden{
  display: none;
}
