


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F2F2F4;
}
h1{
  text-align:center;
  font-size: 3em;
padding:20px;
}



.btn{
  text-transform:uppercase;
  border-radius:0.2em;
  text-decoration:none;
  background-color:white;
  /* gaat zich gedragen als een block element*/
  display: inline-block;
  padding:0.7em 0.7em;
  font-weight:bold;
  color:grey;
  margin-left:2em;
  font-size:1.6em;
}

.btn:active{
  position: relative;
  top :1px;
  
}

.btn:hover{
  opacity:0.7;
  
}
.btn--batman{
  background-color:black;
  color:white;
}

.btn--superman{
  background-color:#C80000;
  color:white;
}



.btn--superman{
  background-color:#C80000;
  color:white;
}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex{
  max-width: 50%;
}